<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/Recipe-list.css}" />

    <title>JiggleBoggle</title>
  </head>
  <body>
      <form id="mainForm" name="mainForm" method="get" th:action="@{/searchRecipe}">

        <div th:unless="${isLoggedIn}" th:insert="fragments/header :: site-header"></div>
        <div th:if="${isLoggedIn}" th:insert="fragments/header :: jb-site-header"></div>

        <input type="hidden" id="msg" name="msg" th:value="${msg}">

          <main class="recipe-container">
              <div class="recipe-grid">
                  <div class="recipe-card" th:each="recipe : ${recipeList}">
                      <a th:href="@{/temp(recipeTitle=${recipe.title})}">
                          <img th:src="${recipe.imagePath}" alt="레시피 이미지">
                      </a>

                      <div class="recipe-info">
                          <p th:text="${recipe.title}">레시피 제목</p>
                          <small th:text="${recipe.rcpDisc}">레시피 설명</small>
                      </div>
                  </div>
              </div>
          </main>

      </form>


      <script th:src="@{/js/common.js}"></script>

  </body>
</html>

