<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/HomePage.css}" />
</head>
  <body>
    <form id="mainForm" name="mainForm"  method="get" th:action="@{/searchRecipe}">

        <div th:unless="${isLoggedIn}" th:insert="fragments/header :: site-header"></div>
        <div th:if="${isLoggedIn}" th:insert="fragments/header :: jb-site-header"></div>

        <section class="best-recipes">
            <h3>💡 백꿀팁 지금 바로 BEST 요리모음</h3>

            <div class="recipe-slider">
                <button class="slide-btn prev">&#10094;</button>
                <div class="recipe-list" id="recipeList">
                  <!-- 예시 데이터, Thymeleaf 반복문으로 대체 -->
                    <div class="recipe-card" th:each="recipe : ${recipeList}">
                        <img th:src="@{${recipe.imagePath}}" alt="레시피 이미지">
                        <p th:text="${recipe.title}">레시피 제목</p>
                    </div>
                </div>
                <button class="slide-btn next">&#10095;</button>
            </div>
        </section>

  </form>


  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/HomePage.js}"></script>
  </body>
</html>
