<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/mainCss.css}" />

    <title>JiggleBoggle</title>
  </head>
  <body>
      <form id="mainForm" name="mainForm" method="get">

        <div th:unless="${isLoggedIn}" th:insert="fragments/header :: site-header"></div>
        <div th:if="${isLoggedIn}" th:insert="fragments/header :: jb-site-header"></div>

        <input type="hidden" id="msg" name="msg" th:value="${msg}">
        <div class="Title">
          <!-- <img class="fork" src="../imgs/fork.svg" />-->
          <!-- <img src="../imgs/bubble.svg" class="bubble" /> -->
          <p class="productTitle">이세상 모든 맛난 레시피<br />지 글 뽀 글</p>
        </div>
        <p class="productIntro">
          AI가 추천하고 똑똑이 일일집사들이 추천해주는<br />
          지 글 뽀 글 레시피 추천 사이트
        </p>
        <div class="signup-container">
          <button class="signup">Sign it now</button>
          <p class="join-text" id="signUpBtn">let's join us!</p>
        </div>
        <div class="food-imgs">
          <img class="food1 bigImg" src="/imgs/food1.svg" />
          <img class="food2 mediumImg" src="/imgs/food2.svg" />
          <img class="food3 smallImg" src="/imgs/food3.svg" />
          <img class="food4 mediimImg" src="/imgs/food4.svg" />
          <img class="food5 bigImg" src="/imgs/food5.svg" />
        </div>
      </form>




      <script th:src="@{/js/common.js}"></script>
  </body>
</html>

