<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>JiggleBoggle</title>
  </head>
  <body>
      <form id="mainForm" name="mainForm" method="get">
        <header class="navbar">
          <div class="logo-container">
            <img src="/imgs/JiggleBoggle.svg" class="logo-img" />
            <span>JiggleBoggle</span>
          </div>
          <nav class="menu">
            <a href="#">메뉴</a>
            <a href="#">검색</a>
            <a href="#">AI레시피</a>
            <a href="#">지글뽀글</a>
          </nav>
          <div class="auth">
            <a href="/login" class="login-btn">로그인</a>
            <a href="/signup" class="signup-btn">회원가입</a>
          </div>
        </header>
        <div class="Title">
          <!-- <img class="fork" src="../imgs/fork.svg" />-->
          <!-- <img src="../imgs/bubble.svg" class="bubble" /> -->
          <p class="productTitle">이세상 모든 맛난 레시피<br />지 글 뽀 글</p>
        </div>
        <p class="productIntro">
          AI가 추천하고 똑똑이 일일집사들이 추천해주는<br />
          지 글 뽀 글 레시피 추천 사이트
        </p>
        <div class="signup-container">
          <button class="signup">Sign it now</button>
          <p class="join-text">let's join us!</p>
        </div>
        <div class="food-imgs">
          <img class="food1 bigImg" src="/imgs/food1.svg" />
          <img class="food2 mediumImg" src="/imgs/food2.svg" />
          <img class="food3 smallImg" src="/imgs/food3.svg" />
          <img class="food4 mediimImg" src="/imgs/food4.svg" />
          <img class="food5 bigImg" src="/imgs/food5.svg" />
        </div>
      </form>
  </body>
</html>
