<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/mainCss.css}" />

    <title>JiggleBoggle</title>
  </head>
  <body>
      <form id="mainForm" name="mainForm" method="get">

        <div th:unless="${isLoggedIn}" th:insert="fragments/header :: site-header"></div>
        <div th:if="${isLoggedIn}" th:insert="fragments/header :: jb-site-header"></div>


        <input type="hidden" id="msg" name="msg" th:value="${msg}">

      </form>


      <script th:src="@{/js/login.js}"></script>
  </body>
</html>

