<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/mainCss.css}" />
    <link rel="stylesheet" th:href="@{/css/signup.css}" />


    <title>JiggleBoggle</title>
</head>
<body>
<form id="loginForm" name="loginForm" method="post" th:action="@{/userLogin}">
    <div th:insert="fragments/header :: site-header"></div>

    <main class="content">
        <!-- 왼쪽 -->
        <section class="left">
            <div class="login-box">
                <h2>로그인</h2>
                <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요">
                <input type="password"  id="userPswd" name="userPswd"  placeholder="비밀번호를 입력하세요">
                <button type="submit" class="btn btn-primary">로그인</button>

            </div>
        </section>

        <!-- 오른쪽 -->
        <section class="right">
            <div class="logo-section">
                <img src="/imgs/icon/big_icon.png" class="logo-icon" alt="logo"/>
            </div>

            <div class="food-grid">
                <img src="/imgs/food/forkcutlet2.svg" alt="forkcutlet2">
                <img src="/imgs/food/noodle.svg" alt="noodle">
                <img src="/imgs/food/omelet.svg" alt="omelet">
                <img src="/imgs/food/pie.svg" alt="pie">
                <img src="/imgs/food/beef.svg" alt="beef">
                <img src="/imgs/food/forkcutlet.svg" alt="forkcutlet">
            </div>
        </section>
    </main>

</form>
</body>
</html>

<script>
    document.getElementById("moveIcon").addEventListener("click", function () {
        window.location.href = "/MainPage"; // 메인 페이지로 이동
    });
</script>