<!DOCTYPE html>
<!-- fragments/header.html -->
<header th:fragment="site-header" class="navbar">
    <div class="logo-container">
        <img src="/imgs/JiggleBoggle.svg" class="logo-img" alt="logo"/>
        <span id="moveIcon">JiggleBoggle</span>
    </div>
    <nav class="menu">
        <a href="#">메뉴</a>
        <a href="#">검색</a>
        <a href="#">AI레시피</a>
        <a href="#">지글뽀글</a>
    </nav>
    <div class="auth">
        <a th:href="@{/login}" class="login-btn">로그인</a>
        <a th:href="@{/signup}" class="signup-btn">회원가입</a>
    </div>

</header>

<!-- templates/fragments/jb-header.html -->
<header th:fragment="jb-site-header" class="jb-topbar">
    <div class="jb-topbar-inner">
        <!-- 로고 -->
        <div class="jb-logo">
            <img id="moveMainPage" src="/imgs/biz/login_logo.png" class="logo-img" />
        </div>

        <!-- 검색창 -->
        <div class="jb-search-bar">
            <input type="text" id="searchName" name="searchName" placeholder="찾고싶은 레시피를 검색하세요" />
            <img th:src="@{/imgs/biz/search.svg}" class="jb-search-icon" alt="검색" id="searchBtn" />
        </div>

        <!-- 로그인 / 마이페이지 -->
        <div class="jb-user-menu">
            <div class="jb-mypage-icon">
                <img th:src="@{/imgs/biz/user-icon.jpeg}"/>
                <span>MY Page</span>
            </div>
            <div class="jb-mypage-icon">
                <img th:src="@{/imgs/biz/register_icon.jpeg}"/>
                <span>레시피등록</span>
            </div>
            <div class="jb-mypage-icon" id="logoutBtn">
                <img th:src="@{/imgs/biz/logout_icon.jpeg}"/>
                <span>Logout</span>
            </div>

        </div>
 <!--
        <div class="login-auth" th:if="${isLoggedIn}">
            <img th:src="@{/imgs/biz/user-icon.jpeg}" class="user-logo">
            <a th:href="@{/myPage}" class="mypage-btn" th:text="${userName + '님'}"></a>
        </div>
 -->
    </div>

    <!-- 하단 메뉴 -->
    <nav class="jb-nav-menu">
        <a href="/recipeList">레시피 조회</a>
        <a href="/rankPage">랭킹</a>
        <a href="#">레시피 추천</a>
        <a href="/myPage">임시 Mypage</a>
    </nav>
</header>




