<!DOCTYPE html>
<!-- fragments/header.html -->
<header th:fragment="site-header" class="navbar">
    <div class="logo-container">
        <img src="/imgs/JiggleBoggle.svg" class="logo-img" alt="logo"/>
        <span id="moveIcon">JiggleBoggle</span>
    </div>
    <nav class="menu">
        <a href="#">메뉴</a>
        <a href="#">검색</a>
        <a href="#">AI레시피</a>
        <a href="#">지글뽀글</a>
    </nav>
    <div class="auth" th:unless="${isLoggedIn}">
        <a th:href="@{/login}" class="login-btn">로그인</a>
        <a th:href="@{/signup}" class="signup-btn">회원가입</a>
    </div>
    <div class="auth" th:if="${isLoggedIn}">
        <a th:href="@{/myPage}" class="login-btn" th:text="${userName + '님'}"></a>
    </div>
</header>


