* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "배달의민족 꾸블림";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}
.logo-container {
  display: flex;
  flex-direction: column; /*아이콘과 텍스트를 세로 정렬 */
}
